/* variables */
:root{
    /*colors*/
    --primary: #8f754f;
    --secondary: #303030;
    --gray-1: #666;
    --gray-2: #444;

    /*fonts*/
    --primary-font: 'Alegreya Sans',serif,monospace;;
    --secondary-font: 'Alegreya', serif, monospace;

    /* fontweight */
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
}

body{
    font-family: var(--primary-font);
    color: var(--gray-1);
    animation: fadeInDown 2s ease-in-out;
}

.intil-background{
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    animation: slideInDown 1.5s ease-in-out;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--secondary-font);
    animation: fadeInUp 1s ease-in-out;
}

h2:hover {
    color: var(--primary);
    animation: colorChange 0.5s ease-in-out;
}


.bg-main{
    background-color: var(--primary) !important;
}

.bg-sec{
    background-color: #403d38;
}

.pos-absolute {
    position: absolute;
}

.color-main {
    color: var(--primary)
}

.heading-color{
    color: var(--secondary)
}

/*navbar*/
.navbar{
    padding: 20px 0px !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    animation: slideDown 1s ease-in-out;
}

.navbar .logo{
    width: 12%;
}

.navbar .nav-link{
    color: var(--gray-1) !important;
}

.navbar a:hover, .nav-link.active{
    color: var(--primary) !important;
}
.nav-link{
    padding: 0 15px !important;
    font-size: 18px;
    font-weight: var(--fw-600);
    letter-spacing: .5px;
}

/*Hero section */
.home{
    background-image: url(../images/drew-coffman-1872.jpg);
}

.home-content h1{
    font-weight: var(--fw-600);
    animation: fadeInDown 1s ease-in-out;
}
.home-content p{
    line-height: 1.86em;
    animation: fadeInUp 1s ease-in-out;
}
.home button{
    margin-right: 5px;
    padding: 15px 20px;
    cursor: pointer;
    animation: fadeIn 1s ease-in-out;
}
.learn-more{
    border: none;
}
.contact-us{
    border: 1px solid #fff;
}
.learn-more:hover, 
.contact-us:hover{
    background-color: #fff !important;
    color: var(--secondary) !important;
}

.animation-shape-parent {
    width: 100px;
    height: 50px;
    bottom: 35px;
    position: absolute;
    border-radius: 50rem;
    border: 1px solid #fff;
    cursor: pointer;
}
.animation-element {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #fff;
    top: 1px;
    animation-name: animate-to-bottom;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.animation-element:nth-child(1) {
    animation-delay: 0s;
}
@keyframes animate-to-bottom {
    0% {
    opacity: 0;
    top: 5%;
    }
    50% {
    opacity: 1;
    top: 50%;
    }
    100% {
    opacity: 0;
    top: 75%;
    }
}

/* gallery */
.show-flex{
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1.5s ease-in-out;
}

.flex-item{
    text-align: center;
    flex: 1 1 30%;
    width: 30%;
    height: 100%;
    border: 1px solid #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: all .3s ease-in-out;
    cursor: pointer;
    animation: fadeInUp 1s ease-in-out;
}

.flex-item:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
    padding: 20px;
    border: 2.5px solid var(--primary);
}

.flex-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/* footer */
.custom-border{
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255,255,255,.5)
}

.hover-white:hover{
    color: #fff !important;
}

.footer{
    background-color:#353330;
    animation: fadeIn 1.5s ease-in-out;
}

.footer .social li{
    color: var(--primary);
    cursor: pointer;
}

/* Keyframes for animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes colorChange {
    from {
        color: var(--secondary);
    }
    to {
        color: var(--primary);
    }
}